<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="imgs/coded_logo.png" type="image/x-icon">
    <title>Home aluno</title>
</head>

<body>
    <header class="header-user">
        <div class="header-item">
            <h3>Nome-Escola</h3>
        </div>
        <div class="header-item area-aluno">
            <h3>Área do Aluno</h3>
        </div>
        <div class="header-item">
            <img class="profile-button" src="imgs/profile-icon.png" onclick="perfil()" alt="" width="30px">
        </div>
    </header>

    <div id="navbarlateral" class="none">

        <div class="secao-aba">
            <img src="imgs/menu_hamburguer.png" alt="" id="hamburguer" onclick="hamburguer()">
        </div>

        <div class="secao-aba">

            <img src="./imgs/home.png" alt="" id="home">

            <a href="./login_aluno.html">
                <h3>Home</h3>
            </a>

        </div>

        <div class="secao-aba">

            <img src="./imgs/book.png" alt="" id="atividade">

            <a href="./atividades.html">
                <h3>Atividades</h3>
            </a>

        </div>

        <div class="secao-aba">

            <img src="./imgs/openbook.png" alt="" id="material">

            <a href="./material.html">
                <h3>Material</h3>
            </a>

        </div>

        <div class="secao-aba">

            <img src="./imgs/task.png" alt="" id="provas">

            <a href="./provas.html">
                <h3>Provas</h3>
            </a>

        </div>

        <div class="secao-aba">

            <img src="./imgs/calendar.png" alt="" id="calendario">

            <a href="./calendariomy.html">
                <h3>CalendarioMy</h3>
            </a>

        </div>

    </div>

    <section class="field">
        <div class="field-title">
            <h2>Material</h2>
        </div>

        <div id="atividades">
            <div class="atividade material">
                <div class="data-atividade">
                    <p>data: xx/xx/xxxx</p>
                </div>
                <div class="conteudo-atividade conteudo-material">
                    <h4>Cenario "at the doctors".</h4>
                    <p>Modelo de conversa que utilizamos em um consultorio em inglês.</p>
                    <a href="files/at the doctor answers.pdf" class="arquivo-material">at the doctors.pdf</a>
                </div>
                <div class="finish-activity"></div>
            </div>
            <div class="atividade material">
                <div class="data-atividade">
                    <p>data: xx/xx/xxxx</p>
                </div>
                <div class="conteudo-atividade conteudo-material">
                    <h4>Livro "Callan 02".</h4>
                    <p>Livro Completo, metodo Callan 02.</p>
                    <a href="files/CALLAN-02.pdf" class="arquivo-material">Callan-02.pdf</a>
                </div>
                <div class="finish-activity"></div>
            </div>
            <div class="atividade material">
                <div class="data-atividade">
                    <p>data: xx/xx/xxxx</p>
                </div>
                <div class="conteudo-atividade conteudo-material">
                    <h4>Livro "Callan 03".</h4>
                    <p>Livro Completo, metodo Callan 03.</p>
                    <a href="files/CALLAN-02.pdf" class="arquivo-material">Callan-03.pdf</a>
                </div>
                <div class="finish-activity"></div>
            </div>

    </section>

    <footer>
        <p>© CODED - todos os direitos reservados</p>
    </footer>

    <script src="script.js"></script>
</body>

</html>