*{
    padding: 0;
    margin: 0;
}

/* area main - home*/

#main-home {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#login-section {
    padding: 20px;
    justify-content: center;
}

#presentation-coded {
    padding: 20px;
}


#coded-img-main {
    width: 400px;
    border-radius: 20px;
    margin-bottom: 30px;
}


#presentation-coded p{
    width: 300px;
    margin: 0 auto;
}

#login-area {
    border: 2px black solid;
    border-radius: 10px;
    width: 300px;
}

#inputs {
    padding: 20px;
    justify-content: center;
    text-align: center;
    
}

#inputs button {
    padding: 10px;
}

#inputs input {
    border: 2px black solid;
    border-radius: 4px;
    padding: 2px;
}

#inputs input, button {
    margin: 30px auto;
}