@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

/* header */

#header-main {
    display: flex;
    justify-content: space-between;
}

#header-options-left {
    display: flex;
    
}

#header-options-left a {
    text-decoration: none;
    color: black;
}

.header-option {
    padding: 5px;
    border-left: 2px solid black;
    width: 150px;
    text-align: center;
    margin-top: 10px;
}

#header-logo-right {
    margin: 0px 30px;
}

#header-logo-right h3 {
    margin-top: 10px;
}

/* area main - home*/

.divisao {
    height: 30%px;
    width: 3px;
    background-color: black;
    display: none;
}

#main-home {
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(90deg,#45D49C, #0E2439);
}

#login-section {
    padding: 20px;
    justify-content: center;
}

#presentation-coded {
    padding: 20px;
    color: white;
}


#coded-img-main {
    width: 400px;
    border-radius: 20px;
    margin-bottom: 30px;
}


#presentation-coded p{
    width: 400px;
    margin: 0 auto;
    text-align: justify;
}

#login-area {
    border: 2px black solid;
    border-radius: 10px;
    width: 300px;
    background-color: white;
    margin-top: 50px;
}

#inputs {
    padding: 20px;
    justify-content: center;
    text-align: center;
    
}

#inputs button {
    padding: 10px;
}

#inputs input {
    border: 2px black solid;
    border-radius: 4px;
    padding: 2px;
}

#inputs input, button {
    margin: 30px auto;
}

#logaruser {
    color: white;
    background-color: lightgreen;
    border-radius: 10px;
}

#logaruser:hover {
    background-color: green;
}

#servicos {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}

#servicos-title {
    text-align: center;
    margin-top: 30px;
}

.servico {
    width: min-content;
    text-align: justify;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.servico img {
    margin: 30px 0;
}

#sobre {
    text-align: center;
    margin: 30px 0;
    color: white;
    background-image: linear-gradient(90deg,#45D49C, #0E2439);
    padding: 50px;
}

#conteudo-sobre {
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: justify;
    border-bottom: 2px white solid;
    border-left: 2px white solid;
    border-radius: 20px;
    padding: 30px;
}

#contato {
    margin: 30px 0;
}

#contato h1 {
    text-align: center;
}

#contato p {
    text-align: center;
}

#contato h3 {
    margin-top: 80px;
}

.contents-contato {
    margin: 50px 0;
    justify-content: space-evenly;
    display: flex;
}

.contato {
    text-align: center;
    padding: 0 30px;
    
    
}

.contato img {
    width: 250px;
    margin-bottom: 20px;
}

.contato:hover {
    cursor: pointer;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-radius: 30px;
    transition: 0.2s;
}

/* login aluno*/

.header-user {
    justify-content: space-between;
    display: flex;
    padding: 10px 30px;
    color: white;
    background-color: #0E2439;
}

.area-aluno {
    border: 2px white solid;
    padding: 3px;
    border-radius: 3px;
}

@keyframes teste {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}

.hamburguericon{
    padding-left: 95%;
}

#hamburguer:hover {
    cursor: pointer;
}

#janeladeopcoes {
    border: 2px black solid;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    background-color: white;
    position: absolute;
    right: 65px;
    top: 60px;
    display: none;
    animation: teste 0.2s linear;
}

.opcao {
    padding: 10px;
    margin: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#janeladeopcoes a{
    text-decoration: none;
    color: black;
}

.field {
    padding: 10px 30px;
}

.field-title {
    text-decoration: underline;
}

.aulaaovivo {
    text-align: center;
}

.quadroaulaonline {
    border: 1px solid black;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin: 0 auto;
}   


.aulas-gravadas {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #0e2439;
}

.aula:hover {
    cursor: pointer;
}

.aula {
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    border-radius: 10px;
    width: min-content;
    padding: 10px;
    margin: 20px 0px;
    color: white;
}

.aula h3 {
    text-align: center;
    margin-bottom: 10px;
}

.video {
    background-color: black;
    width: 300px;
    text-align: center;
    padding: 20px;
}

.video img {
    width: 80px;
}

.complement {
    margin: 10px 0;
}

.data-video {
    text-align: right;
}


#atividades {
    margin: 20px 0px;
    background-color: #0E2439;
    border-radius: 10px;
}

.atividade {
    padding: 2px 10px;
    margin-bottom: 20px;
}

.conteudo-atividade {
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    background-color: aliceblue;
}

.conteudo-atividade .botao {
   text-align: center;
}

.conteudo-atividade button {
    padding: 10px;
    background-color: #0E2439;
    color: white;
    border-radius: 10px;
}

.data-atividade {
    text-align: center;
    color: white;
}

.data-atv {
    color: black;
}

.prazo-atividade {
    padding: 5px 10px;
    text-align: right;
}

.finish-activity {
    margin: 10px auto;
    width: 80%;
    height: 4px;
    background-color: gray;
    border-radius: 10px;
}

/* footers */

footer {
    background-color: #0E2439;
    color: white;
    text-align: center;
}

/* provas*/

.situacao {
    text-align: center;
}

.afazer {
    color: orange;
}

button:hover{
    cursor: pointer;
}

.feito {
    color: green;
}

/* material */

.conteudo-material p{
    margin-bottom: 20px;
}

.material a {
    color: black;
    padding: 5px 10px; 
    border-radius: 10px;
}

.material a:hover {
    box-shadow: #0E2439 0px 0px 5px;
}

/* calendario my */

#table {
    border: 2px black solid;
    padding: 5px;
    background-color: #0E2439;
}

th {
    border: 1px black solid;
}

td {
    background-color: white;
    border-radius: 5px;
}

.column {
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}

#legenda {
    margin: 20px 0;
}

.bolinha {
    display: flex;
    margin: 20px 0;
}

.bola {
    width: 20px;
    height: 20px;
    border-radius: 30px;
    margin-right: 20px;
}

.verde {
    background-color: lightgreen;
}

.laranja {
    background-color: orange;
}

.weekend {
    background-color: lightgray;
}

.week {
    background-color: lightblue;
}

/* profile button */

.profile-button:hover {
    cursor: pointer;
}

/* profile */

.fielduser {
    padding: 0;
}

.titleperfil {
    margin-bottom: 30px;
    text-align: center;
}

#perfilbox {
    background-image: linear-gradient(90deg,#018552, #0E2439);
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    padding: 20px 50px;
    color: white;
    border-radius: 0px;
}

#perfilbox img {
    width: 230px;
    height: 230px;
    border-radius: 200px;
    background-color: white;
}

#perfilbox h4 {
    margin: 50px 0;
    text-decoration: underline;
}

.dados {
    border-right: 1px white solid;
    border-left: 1px white solid;
    padding: 0 50px;
}

.dados h3 {
    text-align: center;
}

#picture-logout {
    text-align: center;
}

#picture-logout button {
    padding: 10px;
    background-color: darkred;
    color: white;
    border-radius: 10px;
}

#picture-logout button:hover {
    background-color: rgb(87, 0, 0);
}